<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="books">
    <h2>All Books</h2>
    
    <% if (books.length > 0) { %>
    <% books.forEach(book => { %>
    <a href="/books/<%= book._id %> ">
      <h3><%= book.title %> </h3>
      <p>By: <%= book.author %> </p>
      <p>Genre: <%= book.genre %> </p>
    </a>
    <% })} else { %>
    <p>There are no books to display...</p>
    <% } %>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>